In [1]:
import pandas as pd
import json

In [2]:
with open('/tmp/pycharm_project_366/config.json') as f:
    config = json.load(f)

In [3]:
def get_people_with_disease(df, all_diseased_column, disease_code_pattern):
    people_with_disease_df = df[all_diseased_column.str.contains(disease_code_pattern)]

    return people_with_disease_df

In [6]:
test_group_df = pd.read_csv('/tmp/pycharm_project_366/test_data.csv', low_memory=False)
test_group_df

,34-0.0,874-0.0,884-0.0,894-0.0,904-0.0,914-0.0,1001-0.0,1070-0.0,1080-0.0,1090-0.0,...,23406-0.0,23416-0.0,23417-0.0,23418-0.0,23420-0.0,23421-0.0,23422-0.0,23526-0.0,23527-0.0,23528-0.0
0,1938.0,60.0,0.0,NaN,0.0,NaN,NaN,3.0,0.0,0.0,...,1.619,0.37033,1.099,1.2524,0.22023,0.39086,0.36664,0.77218,0.56309,0.20909
1,1966.0,30.0,1.0,10.0,2.0,-1.0,NaN,3.0,1.0,1.0,...,1.3151,0.25913,0.82489,1.0258,0.15592,0.32634,0.28932,0.63172,0.46325,0.16847
2,1955.0,600.0,7.0,120.0,4.0,30.0,NaN,4.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1956.0,10.0,0.0,NaN,0.0,NaN,NaN,1.0,0.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1957.0,30.0,2.0,10.0,7.0,10.0,NaN,6.0,0.0,0.0,...,1.0513,0.38842,1.1722,0.83203,0.24096,0.46034,0.21924,0.7635,0.55524,0.20826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100519,1957,60.0,2.0,10.0,0.0,NaN,NaN,2.0,1.0,1.0,...,1.3341,0.51043,1.4787,1.0531,0.31117,0.57317,0.28103,1.0032,0.73686,0.26631
100520,1957,390.0,3.0,180.0,4.0,60.0,4.0,3.0,-10.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100521,1951,30.0,5.0,20.0,2.0,10.0,NaN,3.0,0.0,0.0,...,1.8446,0.23061,1.0139,1.4491,0.12985,0.43197,0.39544,0.79603,0.59467,0.20137
100522,1966,20.0,-1.0,NaN,5.0,10.0,NaN,3.0,-10.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100523,1964,10.0,2.0,60.0,2.0,60.0,NaN,0.0,-10.0,-10.0,...,1.013,0.61821,1.6529,0.77324,0.45263,0.5778,0.23972,0.9885,0.71662,0.27188

In [8]:
diabetes_pattern = r'E11'
pancreatic_cancer_pattern = r'C25'
all_diseased_column = test_group_df[[f'41270-0.{i}' for i in range(100)]].agg(', '.join, axis=1)
people_with_diabetes_in_test_df = get_people_with_disease(test_group_df, all_diseased_column, diabetes_pattern)
people_with_pancreatic_cancer_in_test_df = get_people_with_disease(test_group_df, all_diseased_column, pancreatic_cancer_pattern)
print(f'people with diabetes: {people_with_diabetes_in_test_df.shape[0]}, people with cancer: {people_with_pancreatic_cancer_in_test_df.shape[0]}')

people with diabetes: 8737, people with cancer: 395

In [9]:
train_group_df = pd.read_csv('/tmp/pycharm_project_366/train_data.csv', low_memory=False)
train_group_df

,34-0.0,874-0.0,884-0.0,894-0.0,904-0.0,914-0.0,1001-0.0,1070-0.0,1080-0.0,1090-0.0,...,23406-0.0,23416-0.0,23417-0.0,23418-0.0,23420-0.0,23421-0.0,23422-0.0,23526-0.0,23527-0.0,23528-0.0
0,1959.0,20.0,3.0,15.0,2.0,15.0,NaN,1.0,6.0,1.0,...,1.2502,0.1842,0.93059,1.0044,0.10728,0.37528,0.24585,0.54713,0.39634,0.15079
1,1944.0,40.0,0.0,NaN,0.0,NaN,NaN,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962.0,NaN,3.0,60.0,3.0,120.0,6.0,-10.0,1.0,2.0,...,1.3008,0.21047,0.83098,1.0273,0.18401,0.29571,0.27352,0.50973,0.38622,0.12351
3,1947.0,-1.0,7.0,90.0,1.0,10.0,NaN,2.0,0.0,-10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954.0,-1.0,5.0,-1.0,0.0,NaN,NaN,5.0,1.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72957,1951,45.0,0.0,NaN,0.0,NaN,NaN,4.0,-10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72958,1938,15.0,4.0,45.0,0.0,NaN,NaN,4.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72959,1942,15.0,0.0,NaN,0.0,NaN,NaN,4.0,-10.0,-10.0,...,1.7667,0.30586,1.1325,1.3802,0.19679,0.40907,0.3865,0.74372,0.55458,0.18913
72960,1948,20.0,1.0,10.0,0.0,NaN,NaN,3.0,1.0,1.0,...,1.5814,0.53924,1.5525,1.2399,0.33745,0.60051,0.34152,1.1471,0.86682,0.28026
72961,1949,15.0,7.0,10.0,2.0,10.0,3.0,3.0,1.0,-10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
diabetes_pattern = r'E11'
pancreatic_cancer_pattern = r'C25'
all_diseased_column = train_group_df[[f'41270-0.{i}' for i in range(100)]].agg(', '.join, axis=1)
people_with_diabetes_in_train_df = get_people_with_disease(train_group_df, all_diseased_column, diabetes_pattern)
people_with_pancreatic_cancer_in_train_df = get_people_with_disease(train_group_df, all_diseased_column, pancreatic_cancer_pattern)
print(f'people with diabetes: {people_with_diabetes_in_train_df.shape[0]}, people with cancer: {people_with_pancreatic_cancer_in_train_df.shape[0]}')

people with diabetes: 38516, people with cancer: 2130

In [5]:
df_test.iloc[:,270]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: 2966-0.0.1, Length: 100, dtype: float64

In [10]:
df_train = pd.read_csv('/tmp/pycharm_project_366/train_data.csv')
df_train

,34-0.0,874-0.0,884-0.0,894-0.0,904-0.0,914-0.0,1001-0.0,1070-0.0,1080-0.0,1090-0.0,...,23406-0.0,23416-0.0,23417-0.0,23418-0.0,23420-0.0,23421-0.0,23422-0.0,23526-0.0,23527-0.0,23528-0.0
0,1946,10.0,5.0,10.0,0.0,NaN,NaN,10.0,0.0,2.0,...,1.34990,0.24027,0.90368,1.05600,0.13301,0.39050,0.29392,0.77305,0.55852,0.21454
1,1940,15.0,3.0,20.0,3.0,15.0,4.0,4.0,2.0,2.0,...,0.88873,0.48712,1.20370,0.67542,0.33583,0.44486,0.21330,0.88604,0.65199,0.23404
2,1948,30.0,4.0,60.0,2.0,60.0,NaN,2.0,0.0,-10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1966,20.0,0.0,NaN,0.0,NaN,NaN,3.0,-10.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1964,60.0,0.0,NaN,0.0,NaN,NaN,6.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1941,-1.0,6.0,-1.0,-1.0,NaN,NaN,4.0,-3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,1961,20.0,3.0,20.0,3.0,20.0,NaN,3.0,-10.0,-10.0,...,1.17720,0.48938,1.32690,0.91121,0.30140,0.49085,0.26603,0.90651,0.66889,0.23762
157,1948,-1.0,7.0,-1.0,2.0,60.0,NaN,6.0,0.0,-10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,1941,30.0,5.0,60.0,4.0,120.0,NaN,2.0,-10.0,1.0,...,0.89740,0.36525,0.92724,0.70587,0.24805,0.32404,0.19153,0.52305,0.37279,0.15026
159,1945,15.0,0.0,NaN,0.0,NaN,NaN,5.0,2.0,-10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
set(df_test.columns) - set(config['features_code_list'])

{'130792-0.0.1',
 '131682-0.0.1',
 '131683-0.0.1',
 '21027-0.0.1',
 '21028-0.0.1',
 '21040-0.0.1',
 '21064-0.0.1',
 '21068-0.0.1',
 '23000-0.0.1',
 '23001-0.0.1',
 '23002-0.0.1',
 '23003-0.0.1',
 '23004-0.0.1',
 '23005-0.0.1',
 '23006-0.0.1',
 '23007-0.0.1',
 '23008-0.0.1',
 '23009-0.0.1',
 '23010-0.0.1',
 '23011-0.0.1',
 '23012-0.0.1',
 '23013-0.0.1',
 '23014-0.0.1',
 '23015-0.0.1',
 '23016-0.0.1',
 '23017-0.0.1',
 '23018-0.0.1',
 '23019-0.0.1',
 '23020-0.0.1',
 '23021-0.0.1',
 '23022-0.0.1',
 '23023-0.0.1',
 '23024-0.0.1',
 '23025-0.0.1',
 '23026-0.0.1',
 '23027-0.0.1',
 '23028-0.0.1',
 '23029-0.0.1',
 '23030-0.0.1',
 '23031-0.0.1',
 '23032-0.0.1',
 '23033-0.0.1',
 '23034-0.0.1',
 '23035-0.0.1',
 '23036-0.0.1',
 '23037-0.0.1',
 '23038-0.0.1',
 '23039-0.0.1',
 '23040-0.0.1',
 '23041-0.0.1',
 '23042-0.0.1',
 '23043-0.0.1',
 '23044-0.0.1',
 '23048-0.0.1',
 '23049-0.0.1',
 '2966-0.0.1',
 '30000-0.0.1',
 '30010-0.0.1',
 '30020-0.0.1',
 '30030-0.0.1',
 '30040-0.0.1',
 '30050-0.0.1',
 '30060-0.0.1',
 '30080-0.0.1',
 '30090-0.0.1',
 '30100-0.0.1',
 '30120-0.0.1',
 '30130-0.0.1',
 '30140-0.0.1',
 '30150-0.0.1',
 '30160-0.0.1',
 '30170-0.0.1',
 '30180-0.0.1',
 '30190-0.0.1',
 '30200-0.0.1',
 '30210-0.0.1',
 '30220-0.0.1',
 '30230-0.0.1',
 '30240-0.0.1',
 '30250-0.0.1',
 '30260-0.0.1',
 '30280-0.0.1',
 '41270-0.0.1',
 '41270-0.1.1',
 '41270-0.10.1',
 '41270-0.11.1',
 '41270-0.12.1',
 '41270-0.13.1',
 '41270-0.14.1',
 '41270-0.15.1',
 '41270-0.16.1',
 '41270-0.17.1',
 '41270-0.18.1',
 '41270-0.19.1',
 '41270-0.2.1',
 '41270-0.20.1',
 '41270-0.21.1',
 '41270-0.22.1',
 '41270-0.23.1',
 '41270-0.24.1',
 '41270-0.25.1',
 '41270-0.26.1',
 '41270-0.27.1',
 '41270-0.28.1',
 '41270-0.29.1',
 '41270-0.3.1',
 '41270-0.30.1',
 '41270-0.31.1',
 '41270-0.32.1',
 '41270-0.33.1',
 '41270-0.34.1',
 '41270-0.35.1',
 '41270-0.36.1',
 '41270-0.37.1',
 '41270-0.38.1',
 '41270-0.39.1',
 '41270-0.4.1',
 '41270-0.40.1',
 '41270-0.41.1',
 '41270-0.42.1',
 '41270-0.43.1',
 '41270-0.44.1',
 '41270-0.45.1',
 '41270-0.46.1',
 '41270-0.47.1',
 '41270-0.48.1',
 '41270-0.49.1',
 '41270-0.5.1',
 '41270-0.50.1',
 '41270-0.51.1',
 '41270-0.52.1',
 '41270-0.53.1',
 '41270-0.54.1',
 '41270-0.55.1',
 '41270-0.56.1',
 '41270-0.57.1',
 '41270-0.58.1',
 '41270-0.59.1',
 '41270-0.6.1',
 '41270-0.60.1',
 '41270-0.61.1',
 '41270-0.62.1',
 '41270-0.63.1',
 '41270-0.64.1',
 '41270-0.65.1',
 '41270-0.66.1',
 '41270-0.67.1',
 '41270-0.68.1',
 '41270-0.69.1',
 '41270-0.7.1',
 '41270-0.70.1',
 '41270-0.71.1',
 '41270-0.72.1',
 '41270-0.73.1',
 '41270-0.74.1',
 '41270-0.75.1',
 '41270-0.76.1',
 '41270-0.77.1',
 '41270-0.78.1',
 '41270-0.79.1',
 '41270-0.8.1',
 '41270-0.80.1',
 '41270-0.81.1',
 '41270-0.82.1',
 '41270-0.83.1',
 '41270-0.84.1',
 '41270-0.85.1',
 '41270-0.86.1',
 '41270-0.87.1',
 '41270-0.88.1',
 '41270-0.89.1',
 '41270-0.9.1',
 '41270-0.90.1',
 '41270-0.91.1',
 '41270-0.92.1',
 '41270-0.93.1',
 '41270-0.94.1',
 '41270-0.95.1',
 '41270-0.96.1',
 '41270-0.97.1',
 '41270-0.98.1',
 '41270-0.99.1'}

In [10]:
'41270-0.99.1' in config['features_code_list']

False

In [11]:
features = pd.read_csv('/home/ofeksh2@mta.ac.il/biobank/fields672220.ukb')

In [21]:
'21028-0.0.1' in config['features_code_list']

False